.profileScreen{
    /*
Viewport Height (vh). 
This unit is based on the height of the viewport. A value of 1vh is equal to 1% of the viewport height */
    height: 120vh;
    color: white;
}

.profileScreen__body{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    /* These two lines align it to center */
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    max-width: 800px;   
}

.profileScreen__body h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}
.profileScreen_row{
    display: flex;
    flex-direction: row;
}

.profileScreen__info img{
    height: 100px;
    margin-top: 20px;
}

.profileScreen__details{
    color: white;
    margin: 10px;
    padding: 10px;
    width: 70%;
    /* margin-left: 25px;
    flex: 1; */
}

.profileScreen__details h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen_signout{
    padding:10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: white;
    background-color: red;
    cursor: pointer;
    border: none;
}

.profileScreen__plans{
    margin-top: 20px;
}
.profileScreen__plans h3{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(112, 101, 101);
}

.profileScreen_each_plan{
    margin: 25px;
    padding: 25px;
}
.profileScreen_each_plan h4{
    float: left;
    font-weight: 400;
    font-size: small;
    padding: 3px;
    width: 45%;
}

.profileScreen_each_plan button{
    float: right;    
    height: 40px;
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    background-color: red;
    border-radius: 3px;
    width: 50%;
}

.profileScreen_each_plan :hover{
    cursor: pointer;
    opacity:0.5;
}


